In [1]:
import pandas as pd

In [7]:
file_name = "Data/Vanguard Windsor U.S. Value Fund.xlsx"
data = pd.read_excel(file_name, )
data.head()

     NAV Date NAV Price
0  2024-01-26  $14.3802
1  2024-01-19  $14.1596
2  2024-01-12  $14.2243
3  2024-01-05  $14.2525
4  2023-12-28  $14.2067

In [8]:
data['NAV Price'] = data['NAV Price'].str.replace('$', '')
data['NAV Price'] = data['NAV Price'].astype(float)
data.dtypes

NAV Date      object
NAV Price    float64
dtype: object

In [9]:
data.head()

     NAV Date  NAV Price
0  2024-01-26    14.3802
1  2024-01-19    14.1596
2  2024-01-12    14.2243
3  2024-01-05    14.2525
4  2023-12-28    14.2067

In [10]:
data.to_excel("Data/Vanguard Windsor U.S. Value Fund.xlsx", index=False)